@model IEnumerable<GAG_101.Models.LocalBusinessUsers1>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocalBusiness_UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BU_FEIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location_Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_Number)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalBusiness_UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Business_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BU_FEIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location_Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_Number)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.LocalBusiness_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.LocalBusiness_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.LocalBusiness_ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
